<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [3]:
# your code goes here
print(df.shape[0])
print("There are", df.duplicated().sum(), "duplicate rows in this dataset")

#print(df['Respondent'].duplicated().sum())

11552
There are 154 duplicate rows in this dataset

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [69]:
# your code goes here
df = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [70]:
# your code goes here
print(df.shape[0])
print("There are now", df.duplicated().sum(), "duplicate rows in this dataset")

11398
There are now 0 duplicate rows in this dataset

## Finding Missing values

Find the missing values for all columns.

In [71]:
# your code goes here
missing_data = df.isnull()
missing_data

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11547,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11548,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11549,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11550,False,False,False,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,False,False
11551,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Find out how many rows are missing in the column 'WorkLoc'

In [72]:
# your code goes here
md_WorkLoc = df['WorkLoc'].isnull().sum()
md_Respondent = df['Respondent'].isnull().sum()
print("There are", md_WorkLoc, "missing values in the column 'WorkLoc'")
print("There are", md_Respondent, "missing values in the column 'Respondent'")

There are 32 missing values in the column 'WorkLoc'
There are 0 missing values in the column 'Respondent'

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [78]:
# your code goes here
df['WorkLoc'].value_counts()
#df['UndergradMajor'].value_counts()

Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [74]:
#make a note of the majority value here, for future reference
# Office 6806

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [75]:
# your code goes here
import numpy as np
df["WorkLoc"].replace(np.nan, 'Office', inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [76]:
# your code goes here
md_WorkLoc = df['WorkLoc'].isnull().sum()
md_EdLevel = df['EdLevel'].isnull().sum()
md_Country = df['Country'].isnull().sum()
print("There are now", md_WorkLoc, "missing values in the column 'WorkLoc'")
print("There are now", md_EdLevel, "missing values in the column 'Edlevel'")
print("There are now", md_Country, "missing values in the column 'Country'")

There are now 0 missing values in the column 'WorkLoc'
There are now 112 missing values in the column 'Edlevel'
There are now 0 missing values in the column 'Country'

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [82]:
# your code goes here
df['CompFreq'].unique()
df['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [85]:
# your code goes here
df.loc[df['CompFreq'] == 'Yearly', 'NormalizedAnnualCompensation'] = 1 * df["CompTotal"]
df.loc[df['CompFreq'] == 'Monthly', 'NormalizedAnnualCompensation'] = 12 * df["CompTotal"]
df.loc[df['CompFreq'] == 'Weekly', 'NormalizedAnnualCompensation'] = 52 * df["CompTotal"]
    
df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']].head(20)

   CompFreq  CompTotal  NormalizedAnnualCompensation
0    Yearly    61000.0                       61000.0
1    Yearly   138000.0                      138000.0
2    Yearly    90000.0                       90000.0
3   Monthly    29000.0                      348000.0
4    Yearly    90000.0                       90000.0
5   Monthly     9500.0                      114000.0
6   Monthly     3000.0                       36000.0
7    Yearly   103000.0                      103000.0
8    Yearly    69000.0                       69000.0
9   Monthly     8000.0                       96000.0
10  Monthly     7000.0                       84000.0
11   Yearly   114000.0                      114000.0
12   Weekly     2000.0                      104000.0
13   Weekly    22000.0                     1144000.0
14  Monthly    96000.0                     1152000.0
15   Yearly   156000.0                      156000.0
16   Yearly    18000.0                       18000.0
17  Monthly     6400.0                       76800.0
18  Monthly     5000.0                       60000.0
19   Yearly   400000.0                      400000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).